.register-form-container {
  max-width: 500px;
  margin: 3rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.register-form label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #333;
}

.register-form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.register-form button {
  width: 100%;
  padding: 0.7rem;
  background-color: #25ebeb;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #79ebeb;
}
