.user-profile {
    width: 95%;
    margin: 0 auto; /* Center profile block */
}

.user-profile > * {
    padding-top: 1%;
    margin-left: 0; /* remove conflict */
}

/* Target MovieRecommendSlider inside ProfilePage */
.user-profile .div-movie-recommend-slider {
  width: 100%; /* or your desired width */
  margin: 0 auto; /* center if needed */
  margin-top: 1.5%;
  margin-bottom: 3%;
}