.genres-chart-wrapper {
  width: 100%;
  height: 500px;
  padding-top: 14px;
  padding-bottom: 14px;
  box-sizing: border-box;
}

.collapsable {
  background-color: #79ebeb;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  box-sizing: border-box;
}

.collapsable:hover {
  background-color: #25ebeb;
}

.movieDetailsEmotionVector {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
